<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Why Cliff Is Wrong</title>
    <link rel="stylesheet" type="text/css" href="./css/homestyle.css">
</head>

<body>

    <div class="container">

        <header>
            <h1><img src="images\title.jpg"></h1>
        </header>

        <main>

            <p th:each="review: ${reviewsModel}"><a th:href="@{/review(id=${review.id})}"> <img
                        th:src="${review.imageUrl}"></a>
            </p>

        </main>

    </div>

    <footer>
        <small>&copy Team Two 2020</small>
    </footer>

</body>

</html>