<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title th:text="${reviewModel.reviewTitle}">A review</title>
    <link rel="stylesheet" type="text/css" href="./css/reviewstyle.css">
</head>

<body>

<div class="container">

    <nav>
        <a href="/reviews">
            <img src="images\title.jpg"></a>
    </nav>

    <main>
        <h2 th:text="${reviewModel.reviewTitle}"></h2>
        <img th:src="${reviewModel.imageUrl}">
        <p th:text="${reviewModel.releaseYear}"></p>
        <h2>Infinity Saga</h2>
        <h2 th:text="${reviewModel.reviewCategory}"></h2>
        <div class="content">
            <p th:text="${reviewModel.reviewContent}"></p>
        </div>

    </main>
</div>

<footer>
    <small>&copy Team Two 2020</small>
</footer>

</body>

</html>